body{
    color: #40514E;
    /* background-color:#E3FDFD; */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    /* font-size: 90px; if we mention a fix size to the headinrg then it will not chnage as per screen size so we need to make it dynamic */
    /* font-size: 562.5%; as dynamic size 100% = 16px = 1em */
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
}

h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3{
    color: #11999E ;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 100px ;
    position: relative;
}
.middle-container{
    margin: 100px 0;
    
}
.bottom-container{
    background-color: #66BFBF;
    line-height: 2;
    margin-bottom: 0;
    padding: 50px 0 20px;
}
 
.top-cloud{
    position:absolute ;
    right: 300px;
    top: 40px; 
}

p{
    color: #40514E;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    top: 300px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.code-img{
    float: right;
    width: 25%;
    margin:auto;
    
}
.python-img{
    float: left; 
    width: 25%;
    margin-right: 30px;

}

.profile{
    width: 30%;
    margin: auto auto auto auto;   
    line-height: 2;
}

hr{
    border-style: dotted;
    border-width: 5px;
    border-top: 0;
    width: 5%;
    color: #EAF6F6;
    border-color: grey;
    margin: 100px auto;
}

a{
    color:#11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6 ;
}
.footer-link{
    color:#11999E;
    
}
.last-line{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.contact-me{
    width: 30%;
    margin: 40px auto 60px auto;   
    line-height: 2;
}

.contact-message{
    margin-bottom:70px;
}

p{
    line-height: 2;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }